# config
cover: /img/20.jpg
logo: /img/logo.png
top_saying:
- title: YOU MAY <span>REGRET</span>, BUT WHAT DOES IT MATTER
- content: 未来是否曾经一成不变
bottom_saying: THERE IS A NEW DAY COMING
# Content
excerpt_link: Read More

rss: /atom.xml

highlightjs: vs

#Works
works:
- works_name: a
  works_url: http://www.baidu.com/
- works_name: b
  works_url: http://www.baidu.com/
- works_name: c
  works_url: http://www.baidu.com/

#duoshuo name
duoshuo: duoshuo-short-name

# Miscellaneous
github: https://github.com/hellflame
google: https://plus.google.com/110996248749680506305


#about  timeline
timeline:
- num: 1
  word: 2014/06/12 Start aaa
- num: 2
  word: 2014/11/29 Start bbb
- num: 3
  word: 2015/02/18 Start ccc
- num: 4
  word: ~~~

#Links
links:
- name: Kieran
  link: http://go.kieran.top/
- name: name
  link: /
